@charset "utf-8";

/* common */
* {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input {
    outline: none;
    border: none;
}

input[type="submit"],
input[type="button"] {
    margin-top: 4px;
    padding: 4px;
    background: #0b57d0;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    background: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    background: #712cf9;
}

/* calender */
#calender_container {
    width: 400px;
    height: 100%;
    background: #ffffff;
    border-right: 1px solid #cccccc;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: -400px;
    z-index: 10;
}

#calender_container.toggle {
    left: 0;
    transition: all 0.4s;
}

#calender_title {
    width: 100%;
    padding: 20px;
    background: #0b57d0;
}

#calender_title span {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

#calender_content {
    width: 100%;
    height: 100%;
}

#calender_btn_open {
    width: 40px;
    height: 40px;
    background: #0b57d0;
    color: #ffffff;
    border-radius: 0 8px 8px 0;
    position: absolute;
    top: 50%;
    right: -40px;
}

#calender_btn_group {
    width: 100%;
    padding: 20px;
    background: #ffffff;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #cccccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

#calender_btn_group input {
    width: 31.5%;
    padding: 10px;
    background: #0b57d0;
    color: #ffffff;
    border-radius: 8px;
    display: inline-block;
}

#calender_btn_group input {
    margin-right: 1%;
}

#calender_btn_group input:last-child {
    margin-right: 0;
}

/* calender - content */
.content_list {
    width: 100%;
    height: 78%;
    overflow-y: auto;
}

#place_list {
    padding: 20px;
}

#place_list li {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

#place_list li input {
    width: 100%;
    color: blue;
    margin-bottom: 10px
}

#place_list li .valueText{
    color: blue;
    margin-bottom: 10px
}

#place_list li input[type="button"] {
    margin-top: 20px;
    padding: 4px 8px;
    background: #0b57d0;
    border-radius: 4px;
    color: #ffffff;
}

/* map */
.gm-style > div:nth-child(5) > .gmnoprint {
    left: auto !important;
    right: 50px !important;
}

#map_container {
    width: 100%;
    height: 100%;
    margin-left: -5px;
}

#map {
    height: 100%;
}

/* map - infowindow */
.gm-style,
.gm-style-iw,
.gm-style-iw-c {
    padding: 0 !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2) !important;
}

.gm-style-iw,
.gm-style-iw-c,
.gm-style-iw-d {
    max-width: 400px !important;
    max-height: 400px !important;
    overflow: hidden !important;
}

.gm-style-iw-tc,
.poi-info-window,
.gm-ui-hover-effect {
    display: none !important;
}

#infowindow {
    padding: 20px;
    max-height: 400px;
    max-width: auto;
    overflow: auto;
}
#infowindowWrap{
    border-top: 1px solid #ccc;
}

#infowindowWrap label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#infowindowWrap input{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#infowindowWrap .valueText{
    margin-top: -10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#infowindow_btn_group {
    margin-top: 20px;
}

#infowindow input {
    width: 100%;
}

/* map - search */
#map_search_box {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#map_search_input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
}

#map_search_input::placeholder {
    color: #cccccc;
}

#map_search_input:focus {
    border: 2px solid #0b57d0;
}

.map_btn_search {
    width: 60px;
    height: 40px;
    margin-left: 4px;
    padding: 10px;
    background: #0b57d0;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
}

/* sidebar - mapjap */
.scheduleList {
    margin: 30px 15px;
    border: 1px solid #0b57d0;
    border-radius: 5px;
}

.dailySchedules {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.dailySchedules .title {
    font-size: 2.3em;
}

.dailySchedules .date {
    font-size: 2.3em;
}

.h_option {
    height: 90%;
}


