<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/map.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/sidebar.js"></script>
  </head>
  <body>
    <!-- calender -->
    <div id="calender_container">
      <!-- calender title -->
      <div id="calender_title">
        <span th:text="${daily.title}"></span>
      </div>
      <!-- calender content -->
      <form id="calender_content" th:action="@{/places/{parentId}(parentId=${parentId})}" method="post">
        <input type="hidden" name="parentId" id="parentId" th:value="${parentId}" readonly />
        <div class="content_list">
          <ul id="place_list">

          </ul>
        </div>
        <!-- calender bottom button -->
        <div id="calender_btn_group">
          <input type="button" class="calender_btn_init" value="지도 초기화" onclick="initPlace()" />
          <input type="button" class="calender_btn_delete" value="전체 삭제" onclick="deleteAllPlace()" />
          <input type="button" class="calender_btn_save" value="저장" onclick="saveData()"/>
        </div>
      </form>
      <!-- calender open/close button -->
      <button id="calender_btn_open">열기</button>
    </div>

    <!-- map -->
    <div id="map_container">
      <!-- search -->
      <div id="map_search_box">
        <input id="map_search_input" type="text" placeholder="Search" onkeypress="searchPlace()" />
        <button class="map_btn_search" onclick="searchPlace()">검색</button>
      </div>
      <!-- map -->
      <div id="map"></div>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCO4RfIBwQ-MrJ6ymp9gxEBExvy_-q53I&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
  </body>
</html>
