<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/map.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://localhost:8080/js/map.js"></script>
    <script src="http://localhost:8080/js/sidebar.js"></script>
  </head>
  <body>
    <!-- calender -->
    <div id="calender_container">
      <!-- calender title -->
      <div id="calender_title">
        <span th:text="${title}"></span>
      </div>
      <!-- calender content -->
      <form id="calender_content" th:action="@{/places/save/{parentId}(parentId=${parentId})}" method="post">
        <input type="hidden" name="parentId" id="parentId" th:value="${parentId}" readonly />
        <div class="content_list h_option">
          <div class="scheduleList" th:each="schedule : ${dailySchedules}">
              <a class="dailySchedules" th:href="@{'http://localhost:8080/places/' + ${schedule.id}}">
                <div class="title" th:text="${schedule.title}"></div>
                <div class="date" th:text="${schedule.date}"></div>
              </a>
          </div>
        </div>
      </form>
      <!-- calender open/close button -->
      <button id="calender_btn_open">열기</button>
    </div>

    <!-- map -->
    <div id="map_container">
      <!-- search -->
      <div id="map_search_box">
        <input id="map_search_input" type="text" placeholder="Search" onkeypress="searchPlace()" />
        <button class="map_btn_search" onclick="searchPlace()">검색</button>
      </div>
      <!-- map -->
      <div id="map"></div>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCO4RfIBwQ-MrJ6ymp9gxEBExvy_-q53I&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
  </body>
</html>
